section {
  background: rgb(93, 166, 124);
  background: linear-gradient(90deg, rgba(93, 166, 124, 1) 0%, rgba(42, 112, 73, 1) 57%, rgba(9, 99, 48, 1) 100%);
}

.example-card {
  max-width: 80%;
  margin-block: 8px;
  margin-inline: auto;
  &:hover {
    scale: 1.1;
  }
}
