section {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-block: 1rem;
}
.finestrella {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 1rem;
}
mat-form-field {
  margin-inline: 1rem;
}
button {
  margin-inline: 1rem;
  margin-bottom: 1.5rem;
}
