<section>
  <div class="welcome-header">
    <h1 matTypography="headline-large" class="title">Crea Cliente</h1>
    <p matTypography="body-medium" class="description">Compila i dati del cliente.</p>
  </div>

  <form [formGroup]="clienteForm" (ngSubmit)="createCliente()">
    <mat-form-field appearance="fill" class="w-100 mb-3">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" type="email" />
      <mat-error *ngIf="formControls['email']?.hasError('required')"> Email obbligatoria. </mat-error>
      <mat-error *ngIf="formControls['email']?.hasError('email')"> Email non valida. </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="w-100 mb-3">
      <mat-label>Ragione Sociale</mat-label>
      <input matInput formControlName="ragioneSociale" />
      <mat-error *ngIf="formControls['ragioneSociale']?.hasError('required')"> Ragione Sociale obbligatoria. </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="w-100 mb-3">
      <mat-label>Partita IVA</mat-label>
      <input matInput formControlName="partitaIva" />
      <mat-error *ngIf="formControls['partitaIva']?.hasError('required')"> Partita IVA obbligatoria. </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="w-100 mb-3">
      <mat-label>Fatturato Annuale</mat-label>
      <input matInput formControlName="fatturatoAnnuale" type="number" />
      <mat-error *ngIf="formControls['fatturatoAnnuale']?.hasError('required')"> Fatturato Annuale obbligatorio. </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="w-100 mb-3">
      <mat-label>Tipo Cliente</mat-label>
      <mat-select formControlName="tipoCliente">
        <mat-option *ngFor="let tipo of tipoClienti" [value]="tipo">{{ tipo }}</mat-option>
      </mat-select>
    </mat-form-field>

    <div *ngIf="clienteError" class="alert alert-danger">
      {{ clienteError }}
    </div>

    <button mat-raised-button color="primary" type="submit" class="w-100" [disabled]="clienteForm.invalid">Crea Cliente</button>
  </form>
</section>
