/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100vh;
}
body {
  box-sizing: border-box;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
main {
  min-height: 70vh;
  background: rgb(93, 166, 124);
  background: linear-gradient(90deg, rgba(93, 166, 124, 1) 0%, rgba(42, 112, 73, 1) 57%, rgba(9, 99, 48, 1) 100%);
}
